<h2>Books</h2>
<% @books.each do |book| %>
<span>Title<%= book.title %></span>
<span class="body">Body<%= book.body %></span>
<%= link_to 'Show', book_path(book.id) %>
<%= link_to 'Edit', edit_book_path(book.id) %>
<%= link_to 'destroy', destroy_book_path(book.id), method: :delete, "data-confirm" => "Are Yuo Sure?" %>
<% end %>
<h3>New Book</h3>
<%= form_with model:@book,url:'/books', local:true do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Body</h4>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>